*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body,
h1,
p {
  margin: 0;
}

body {
  min-block-size: 100dvh;
}

button,
input,
textarea,
select {
  font: inherit;
}
